body{
    padding: 0%;
}

#external-container {
    width: 1000px;
    height: 1750px;
    background-color: white;
    margin: auto;
}

#top {
    width: 1000px;
    height: 100px;;
    background-color: #3da9fc;
    background-image: url(./img/pattern.png);
    background-size: 400px;
}

.logo {
    width: 180px;
    padding-top: 50px;
    padding-left: 10px;
}

#first {
    background-color: white;
    font-family: 'Lora', serif;
    font-size: 25px;
}

#second {
    margin-top: 0px;
    margin-bottom: 0px;
}

#third {
    padding: 1px;
}

h4 {
    margin: 0px;
}

.grey1 {
    font-size: 20px;
    font-family: 'Lora', serif;
    color: #979a9c;
    padding-top: 0px;
}

.grey2 {
    font-size: 15px;
    font-family: 'Lora', serif;
    color: #979a9c;
    padding-top: 0px;
}

.autor-class {
    font-size: 20px;
    font-family: 'Lora', serif;
    color: #3da9fc;
}

#fourth {
    background-color: white;
}

.image {
    height: 350px;
}

.written-bottom-photo {
    margin: 0px;
    font-size: 12px;
}

.unorder {
    padding-left: 15px;
}

.table {
    background-color: white;
}

table {
    padding-top: 10px;
}

.table-title-color1 {
    background-color: #3da9fc;
    color: white;
}

.table-title-color2 {
    background-color: #8bd3dd;
    border: 0px;
}

.table-title-color3 {
    background-color: white;
    border: 0px;
}

table, th {
    border-collapse: collapse;
}

td {
    padding: 10px 10px;
    text-align: center;
}

.highlighted {
    background-color: yellow;
}

footer {
    background-color: white;
}

h3 {
    color: #979a9c;
    background-color: white;
}

.footer-images1 {
    font-size: 30px;
    color: white;
    width: 300px;
    height: 210px;
    background-image: url(./img/monitor.jpg);
}

.footer-images2 {
    font-size: 30px;
    color: white;
    width: 300px;
    height: 210px;
    background-image: url(./img/graph.jpg);
}

